.leisure-list .card img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.leisure-list .card-body {
  top: auto !important;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  bottom: 60px;
}

.carousel,
.slide,
.carousel-inner {
  border-radius: 20px;
}

.carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.carousel,
.slide,
.carousel-inner {
  border-radius: 20px;
}

.carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.button-box {
  margin-top: 32px;
}
